@model RankingHoteli.ViewModels.HotelDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


@Model.Address
<br />
@Model.Description
<br />
@if (Model.Price != null)
{
    @Model.Price
}
<br />
@foreach (var item in Model.Picture)
{
    <img src="~/Content/Photos/@item" style="height:auto; width:auto; max-height:600px; max-width:600px"/>
    <br />
}

<br />
@*@foreach (var item in Model.Opinions)
{
    @item.Key
    <br />
    item.Value.
}*@
